<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Netzwerke</h1>
<h2>Netzwerk hinzufügen</h2>
<form action="#" th:action="@{/test}" th:object="${newNetwork}" method="POST">
  <label for="networkTitle">Netzwerk Titel:</label>
  <input id="networkTitle" type="text" th:field="*{networkTitle}"/>
</form>

<h2>Vorhandene Netzwerke</h2>
<table>
  <tr>
    <th>id</th>
    <th>network Title</th>
  </tr>
  <th:block th:each="network : ${networks}">
    <tr >
      <td th:text="${network.getNetworkId()}"></td>
      <td th:text="${network.getNetworkTitle()}"></td>
    </tr>
  </th:block>
</table>

</body>
</html>